#container {
    /*	margin: 10px;*/
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}

/*.toast.ng-enter {
  animation : fadeInLeft 0.5s;
}
.toast.ng-leave {
  animation : fadeOutLeft 0.5s;
}*/

.invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.stock-in-hand {
    text-align: center;
    font-size: 3em;
}

/*.loading{
    display: block !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}*/
/*
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/

